

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../fonts/Roboto-Medium.ttf');
}
body {
  margin: 0;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #4a4a4a;
}
a {
  color: inherit;
  text-decoration: none
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
p {
  margin: 0
}
input:focus{
  outline:none;
}
li {
  list-style: none;
}
.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.flex-wrap-wrap{
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2
}
.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.flex-center-between {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-column-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.flex-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.flex-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.clear-align {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.r-button {
  color: #FFFFFF;
  background: #F4436C;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  font-family: Roboto-Medium;
}
.RobotoM{font-family: Roboto-Medium;
}
.XY-fz30{font-size: 30px !important;
}
.XY-fz18{font-size: 18px !important;
}
.XY-fz16{font-size: 16px !important;
}
.XY-fz24{font-size: 24px !important;
}
.XY-fz20{font-size: 20px !important;
}
.XY-fz14{font-size: 14px !important;
}
.XY-center{text-align: center
}
.XY-left{text-align: left
}
.XY-right{text-align: right
}
.XY-colf{color: #fff !important;
}
.XY-col0{color: #000 !important;
}
.XY-cursorp{cursor: pointer;
}

.text_red{
  color: #F4436C;
  cursor: pointer;
}
.text_white{
  color: white;
}

.text_black{
  color: #333132;
}

.PScontent{
  width: 1500px;
  margin: 0 auto;
}
.float_right{
  float: right;
}
.float_left{
  float: left;
}

.el-menu-item.is-active{
  background: #1F1D1E !important;
}


.el-menu-item.is-active a{
  color: white !important;
}
//.el-menu-item.is-active,
//.el-menu-item.is-active a,
//.el-dropdown-menu__item:hover,
//.el-select-dropdown__item.selected{
//  color: #F4436C !important;
//}

.el-button:focus, .el-button:hover{
  color: white;
}

.el-menu-item.is-active .STORE{
  color: white !important;
}

.el-button:active,
.el-button:focus, .el-button:hover{
  border-color: #1C1E4D !important;
}


/***********/
.middle{
  margin-top: 50px;
}

.banner{
  a{
    display: block;
    padding: 10px 0;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    background: transparent;
    width: 200px;
    &:hover{
      background: white;
      color: #1F1D1E;
    }

    @media only screen and (max-width: 1000px) {
      display: block;
      margin: 0 auto;
      font-family: Roboto-Regular;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      background: #0033CC;
      border-radius: 20px;
      &:hover{
        border: 1px solid #0033CC;
        background: white;
        color: #0033CC;
      }
    }
  }


}


.TechSpecs{
  margin: 0 220px;

  h3{
    font-family: Roboto-Medium;
    font-size: 36px;
    color: #1F1D1E;
    letter-spacing: 0;
    text-align: center;
    margin: 80px 0;
  }

  ul{
    li{
      padding: 40px 0;
      display: flex;
      border-bottom: 1px solid #E7EAEE;
      &:first-child{
        border-top: 1px solid #E7EAEE;
      }

      h4{
        font-family: Roboto-Medium;
        font-size: 28px;
        color: #1F1D1E;
        letter-spacing: 0;
        margin: 0 ;
        width: 500px;
        text-align: left;
      }

      div{
        p{
          line-height: 1.9;
          text-align: left;
          font-family: Roboto-Regular;
          font-size: 20px;
          color: #1F1D1E;
          letter-spacing: 0;
        }
      }

    }
  }

  .buttonBOX{
    text-align: center;
    padding-right:20px;
    p.button{
      display: inline-block;
      margin:  30px auto;
      font-family: Roboto-Medium;
      font-size: 16px;
      color: #333132;
      letter-spacing: 0;
      text-align: center;
      position: relative;
      cursor: pointer;
      i{

        font-size: 24px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        transition: all 0.5s;

        &.active{
          transform:rotate(-180deg) translateY(50%);
        }

      }
    }
  }
  @media only screen and (max-width: 1500px) {
    margin: 80px 100px;
  }

  @media only screen and (max-width: 1100px) {
    margin: 80px 20px;
    ul{
      li{
        display: block;
        h4{
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
}


.Brochure{
  text-align: center;
  margin: 80px 20px;
  a,
  button{
    display: inline-block;
    padding: 10px 0;
    width: 350px;
    font-family: Roboto-Regular;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #0033CC;
    border-radius: 20px;
    margin: 0 20px;

    &.bjwirte{
      color: #0033CC;
      background: white;

      &:hover{
        color:white;
        background: #0033CC;
      }
    }

    &.bjblue{
      color:white;
      background: #0033CC;

      &:hover{
        color: #0033CC;
        background: white;
      }
    }
  }

  @media only screen and (max-width: 1100px) {

    button{
      width: 100%;
      margin: 20px 0px !important;
    }
  }
}

.Comingsoon{
  background: #9b9b9b !important;
  border-color: #9b9b9b !important;
  cursor: no-drop;
  &:hover{
    color: white !important;
  }
}
